/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 242, 242);
    min-width: 250px;
    max-width: 550px;
    margin: 0 auto;
}