.container {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.input-container {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.input-container input {
    border: none;
    border-bottom: 1px solid grey;
}

input:focus {
    outline: none;
    border-bottom: 1px solid blue;
}

input::placeholder {
    color: #d2d7dd;
}

.input-field {
    height: 40px;
    margin: 50px;
}

.list {
    flex-direction: column;
}

.flex {
    display: flex;
}

.item {
    width: 100%;
    margin: 20px;
    align-items: center;
}


.done {
    text-decoration: line-through;
}

.item .title {
    min-width: 200px;
}

.checkbox {
    margin-right: 20px;
}

.remove {
    cursor: pointer;
}